@model QuizMVC.Application.UsersRolesAndScoresVm.ListOfUsersWithRolesVm

@{
    ViewData["Title"] = "ManageUsersRoles";
}

<h1>Zarządanie rolami użytkowników</h1>
<a asp-controller="Home" asp-action="IndexAfterLogin" class="btn btn-outline-warning">Powrót do menu</a>

<form asp-action="ManageUsersRoles" asp-controller="UsersRolesAndScores" method="post">
    <div class="form-group ">
        <div>
            <label class="font-weight-bolder">Wyszukiwarka</label>
            <input type="text" class="form-control" asp-for="SearchString" name="searchString" id="searchString" />
        </div><br />
        <div>
            <label class="font-weight-bolder"> Wybierz rolę po której chcesz filtrować</label>
            <select asp-for="RoleId" asp-items="@(new SelectList(Model.AllRoles, "Name", "Name"))" class="custom-select"></select>
        </div>
        <div>
            <br />
            <input class="btn btn-success btn-group-sm" type="submit" value="Wyszukaj" />
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Użytkownik</th>
                    @foreach (var item in Model.AllRoles)
                    {
                        @if (item.Name != "Nie wybieram żadnej roli")
                        {
                            <th><center>@Html.DisplayFor(modelItem => item.Name)</center></th>
                        }

                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsersAndTheirRoles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        @if (item.UserRoles.Count != 0)
                        {
                            @foreach (var userRole in item.UserRoles)
                            {
                                @foreach (var role in Model.AllRoles)
                                {
                                    @if (role.Name != "Nie wybieram żadnej roli")
                                    {
                                        @if ((userRole.Role.Name == role.Name))
                                        {
                                            <td>
                                                <center>
                                                    &#10004;<br />
                                                    @Html.ActionLink("Odbierz Rolę", "RemoveRole",
                                                   new { userName = item.UserName }, new { @class = "btn btn-danger" })
                                                </center>
                                            </td>
                                        }
                                        else
                                        {
                                            <td><center>X</center></td>
                                        }
                                    }

                                }

                            }
                        }
                        else
                        {
                            for (int i = 0; i < Model.AllRoles.Count; i++)
                            {
                                <td>
                                    @if (Model.AllRoles[i].Name != "Nie wybieram żadnej roli")
                                    {
                                        <center>
                                            @Html.ActionLink("Nadaj Rolę", "AddRole",
                                            new { userName = item.UserName, roleName = Model.AllRoles[i].Name }, new { @class = "btn btn-success" })
                                        </center>
                                     }
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a class="page-link" style="color:dodgerblue" href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span class="page-link active btn-outline-success" style="color:white">@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="4" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[1].submit();
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}